body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  padding: 0;
  margin: auto;
}
.collapse:not(.show) {
  display: contents;
}
.txt-error {
  color: red;
  font-size: 0.75rem;
}
.success {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.disabled {
  pointer-events: none;
  opacity: 0.8;
}
.table td, .table th {
  padding: 0.25rem;
}
.pagination {
  justify-content: center;
}